<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thisteam.dangdangeat.mapper.BoardMapper">


	<!-- ======================== sangwoo 시작 ============================== -->
	<!-- 공지 게시판 리스트 조회 -->	
	<select id="getNoticeList" resultType="com.thisteam.dangdangeat.vo.NoticeVO">
		SELECT
			notice_code
			,notice_subject
			,member_id
			,notice_date
			,notice_readcount
			FROM notice
				WHERE
					notice_subject LIKE '%${keyword}%'
				ORDER BY
					notice_code DESC
					<if test="listLimit gt 0">
				LIMIT
					#{startRow}, #{listLimit}
					</if>
	</select>
	
	<!-- 공지 게시판 리스트 총 개수 -->
	<select id="getNoticeListCount" resultType="int">
		SELECT
			COUNT(*)
			FROM notice
			WHERE
				notice_subject LIKE '%${keyword}%'
	</select>
  	
  	<!-- 공지 게시판 글 작성 -->
  	<insert id="insertNotice">
  		<selectKey keyProperty="notice_code" resultType="int" order="BEFORE">
  			SELECT MAX(notice_code)
  				FROM notice
  		</selectKey>
  		INSERT 
  			INTO notice
  			VALUES (
  				<choose>
					<when test="notice_code eq '0'">
					1
					</when>
					<otherwise>
					(#{notice_code} + 1)
					</otherwise>
				</choose>
				,#{member_id}
				,#{notice_subject}
				,#{notice_content}
				,#{notice_readcount}
				,now()
  			) 
  		
  	</insert>
  	
  	<!-- 공지 게시판 게시글 상세보기 -->
  	<select id="getDetailList" resultType="com.thisteam.dangdangeat.vo.NoticeVO">
  		SELECT *
  			FROM notice
  			WHERE notice_code = #{code}
  	</select>
  	
  	<!-- 공지 게시판 수정 -->
  	<update id="modifyNotice">
  		UPDATE notice
  			SET
  				notice_subject = #{notice_subject}
  				,notice_content = #{notice_content}
  			WHERE
  				notice_code = #{notice_code}
  	</update>
  	
  	<delete id="deleteNotice">
  		DELETE
  			FROM notice
  			WHERE notice_code = #{code}
  	</delete>
  	
  	<!-- qna 게시판 리스트 조회 -->
  	<select id="getQnaList" resultType="com.thisteam.dangdangeat.vo.QnaVO">
		SELECT
			*
			FROM qna
				WHERE
					qna_subject LIKE '%${keyword}%'
				ORDER BY
					qna_re_ref DESC, qna_re_seq ASC
					<if test="listLimit gt 0">
				LIMIT
					#{startRow}, #{listLimit}
					</if>
	</select>
	
	<!-- qna 게시판 리스트 총 개수 -->
	<select id="getQnaListCount" resultType="int">
		SELECT
			COUNT(*)
			FROM qna
			WHERE
				qna_subject LIKE '%${keyword}%'
	</select>
	
	<!-- qna 게시판 게시글 상세보기 -->
  	<select id="getQnaDetaiList" resultType="com.thisteam.dangdangeat.vo.QnaVO">
  		SELECT *
  			FROM qna
  			WHERE qna_code = #{code}
  	</select>
  	
  	<!-- qna 글작성 -->
  	<insert id="insertQna">
  		<selectKey keyProperty="qna_code" resultType="int" order="BEFORE">
  			SELECT MAX(qna_code)
  				FROM qna
  		</selectKey>
  		INSERT 
  			INTO qna
  			VALUES (
  				<choose>
					<when test="qna_code eq '0'">
					1
					</when>
					<otherwise>
					(#{qna_code} + 1)
					</otherwise>
				</choose>
				,#{member_id}
				,#{qna_pass}
				,#{qna_subject}
				,#{qna_content}
				,#{qna_file}
				,#{qna_real_file}
				,#{qna_code} + 1
				,#{qna_re_lev}
				,#{qna_re_seq}
				,now()
				,#{qna_secret}
				,#{pro_code}
  			) 
  	</insert>

	<!-- ======================== sangwoo 끝 ============================== -->




	<!-- ======================== jakyoung 시작 ============================== -->

	<!-- 해당 상품 리뷰 목록 조회 -->
	<select id="selectReviewList" resultType="com.thisteam.dangdangeat.vo.ReviewVO">
		SELECT *
			FROM review
			WHERE
				pro_code = #{pro_code}
			<if test="!keyword.equals('')">
				AND review_subject LIKE '%${keyword}%'
			</if>
		ORDER BY
			review_re_ref DESC, review_re_seq ASC
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 해당 상품 리뷰 개수 계산 (페이징 처리) -->
	<select id="selectReviewListCount" resultType="int">
		SELECT COUNT(*)
			FROM review
			WHERE
				pro_code = #{pro_code}
			<if test="!keyword.equals('')">
				AND review_subject LIKE '%${keyword}%'
			</if>
	</select>
	
	
	
	<!-- ======================== jakyoung 끝 ============================== -->

</mapper>














