<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper 태그 내에 namespace 속성 지정 후 Mapper 인터페이스 위치 지정 -->
<mapper namespace="com.thisteam.dangdangeat.mapper.CartMapper">
	
	<!-- 장바구니 담기 -->
	<insert id="insertCart">
		INSERT
			INTO cart
			VALUES (
				null,
				#{member_id},
				#{pro_code},
				#{cart_amount},
				null
			)
	</insert>
	
	<!-- 장바구니 목록 -->
	<select id="selectCartList" resultType="com.thisteam.dangdangeat.vo.CartVO">
		SELECT cart_amount, pro_name, pro_price, pro_real_thumb
			FROM cart_view
			WHERE member_id = #{member_id}
	</select>
	
	<!-- 장바구니 중복 상품 확인 -->
	<select id="isCartExist" resultType="string">
		SELECT pro_code
			FROM cart
			WHERE member_id = #{member_id}
			AND pro_code = #{pro_code}
	</select>

</mapper>














	