<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper 태그 내에 namespace 속성 지정 후 Mapper 인터페이스 위치 지정 -->
<mapper namespace="com.thisteam.dangdangeat.mapper.CouponMapper">


<!--
	com.thisteam.dangdangeat.vo.CouponVO
	
	private String cp_code ;//쿠폰코드(PK)
	private String cp_name;//할인코드명
	private Cp_target cp_target;//타켓(birth, new_member, event )
	private int cp_discount_value; //할인율(%)
	private String cp_startdate;//쿠폰시작일:  쿠폰시작일(YYYY-MM-DD): birth, new_member는 null
	private int cp_period;//유효기간
	private int cp_min_price;//최소구매액
	private int cp_max_discount;//최대할인금액
	private int cp_status; //관리자가 (0 삭제 , 1 존재) 
	
	-->
	

    
	<!-- 관리자페이지 쿠폰 개수 조회 (ajax)-->
	<select id="selectCouponCount" resultType="int">
	SELECT count(cp_code) 
	FROM coupon_view 
		WHERE cp_status = 1 
			 AND ((cp_current_st = 1 AND cp_target ='event') 
			 OR (cp_target IN('new_member','birth')))
	</select>
	
	
	<select id="selectMemberCoupon" resultType="map">
		SELECT * 
		FROM mc_view 
			WHERE  member_id = #{id}
			 AND   cp_status = 1  AND  mc_stat = 1 AND mc_used = 'N' 
	</select>
	
	
	<select id="selectCouponCode" resultType="String">
		SELECT cp_code 
		FROM coupon 
			WHERE cp_code = #{cp_code}
	</select>
	
	<!-- 사용가능한 쿠폰인지 조회 -->
	<select id="selectCouponCodebyUser" resultType="String">
		SELECT cp_code  
	  	FROM coupon_view 
			 WHERE cp_current_st = 1 -- 만료되지않고
				 AND cp_code = #{cp_code}
				 AND cp_target = 'event' -- 관리자등록쿠폰이며
  				 AND cp_status = 1  -- 삭제되지않은 쿠폰
	</select>
<!-- 고객에게 쿠폰 발행 작업 -->
	<!-- a. 고객이 이미 가지고 있는 쿠폰인지 확인-->
	<select id="selectIsPossessCode" resultType="String">
	SELECT cp_code
		 	FROM mc_view 
			WHERE member_id =  #{id}  AND cp_code =  #{cp_code};
	</select>
	
	 <!--b. 등록된 쿠폰이 아닐경우 쿠폰등록 작업-->
	<insert id="insertCouponCodeToMember" >
		 INSERT INTO member_coupon VALUES ( #{id} ,  #{cp_code} , 'N')
	</insert>
	
	<!-- 관리자페이지 쿠폰 리스트 -->
	<select id="selectCouponList" resultType="Coupon_viewVO">
		 SELECT *  
		 FROM coupon_view WHERE cp_status = 1 ORDER BY cp_enddate DESC
	</select>
	
	<!-- 쿠폰 히스토리 -->
	<select id="selectCouponHistory" resultType="com.thisteam.dangdangeat.vo.Mc_viewVO">
		select * from mc_view 
		where member_id = #{id} 
		order by mc_stat desc , target_ed desc 
		limit 10 
	</select>
	
	<!-- 매년 생일쿠폰 업데이트 - 12월 제외  -->
		<update id="resetBirthCoupon">
	    -- 생일 쿠폰을 사용한 12월 주문건을 제외한 생일쿠폰 사용유무 업데이트
					   	UPDATE member_coupon 
					   	SET mc_used = 'N'  
					   	WHERE cp_code in (SELECT cp_code FROM coupon WHERE cp_target = 'birth' ) 
					   		and 
						   	(member_id , cp_code) NOT IN 
						   	(SELECT member_id , p.cp_code 
								FROM orders o inner join payments p on o.order_code = p.order_code 
						 			   WHERE o.order_date LIKE "%-12-%") ;
							
	
	</update>
	
	<!-- 매년 생일쿠폰 업데이트 - 12월 생일쿠폰 따로 업데이트  -->
	<update id="resetBirthCoupon_12">
	    -- 생일 쿠폰을 사용한 12월 주문건 중 생일쿠폰 사용유무 업데이트
					   	UPDATE member_coupon 
					   	SET mc_used = 'N'  
					   	WHERE cp_code in (SELECT cp_code FROM coupon WHERE cp_target = 'birth' ) 
					   		and 
						   	(member_id , cp_code) IN 
						   	(SELECT member_id , p.cp_code 
								FROM orders o inner join payments p on o.order_code = p.order_code 
						 			   WHERE o.order_date LIKE "%-12-%") ;
							
	
	</update>

</mapper>
